.center {
    text-align: center;
}

#start {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: Red;
    font-size: 50px;
    margin-left: 40%;
}

.container {
    width: 900px;
    background-color: rgb(193, 193, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: rgb(168, 245, 219);
}

.next-btn {
    padding: 10px;
}

.hide {
    display: none;
}