button:active {
    outline: none;
}

button:focus {
    outline: none;
}

#start {
    margin: 0 auto;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: Red;
    font-size: 50px;
}

#timer {
    color: green;
    font-weight: bolder;
    size: 70px;
    font-family: 'Courier New', Courier, monospace;
}

#question-div {
    margin: auto;
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid black;
}

.answerButton {
    float: left;
    margin: 20px;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-size: 30px;
}

#score-p {
    font-size: 40px;
    color: green;
    font-weight: bold;
}